body {
    height: 100%;
}

.pages {
    color: #5f6368;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: auto;
    margin-top: 20px;
    font-family: arial;
    font-size: 15px;
}

.pages:hover {
    text-decoration: underline;
}

#app-icon {
    width: 25px;
    margin-left: 10px;
    vertical-align: middle;
    padding-bottom: 6px;
}

#sign-in-button {
    box-shadow: none;
    border: none;
    width: 75px;
    height: 30px;
    background-color: #4285f4;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    font-size: 13px;
    border-radius: 2px;
}

#google-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 260px;
}

input.search-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 520px;
    height: 40px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 50px;
    text-indent: 47px;
    background-color: transparent;
}

img.search-bar {
    width: 15px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 29px;
    right: 237px;
}

input.search-bar:hover {
    color: black;
    box-shadow: 0 0 0.75px 0.75px gray;
}

.button-line {
    display: block;
    text-align: center;
}

.buttons {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    background-color: rgb(236, 236, 236);
    box-shadow: none;
    border: none;
    width: 130px;
    height: 37px;
    font-size: 14px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.678);
}

.buttons:hover {
    color: black;
    box-shadow: 0 0 0.75px 0.75px gray;
    background-color: rgb(247, 247, 247);
}

.footer-line {
    background: #f2f2f2;
    margin-top: 310px;
    height: 50px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.footer-pages {
    color: #5f6368;
    text-decoration: none;
    font-family: arial;
    margin-left: 20px;
    font-size: 15px;
}

.footer-pages:hover {
    text-decoration: underline;
}


